.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: var(--color-black);
    font-family: var(--font-family-gpt);
    gap: 7px;
    margin-top: 8px;
    height: 100%;
}

.pagination-container {
    width: auto;
    margin-bottom: 0px;
    background-color: var(--white-64);
    border-radius: 20px;
}

.source-container {
    width: 95%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    overflow-y: auto;
    height: auto;
    color: var(--color-black);
    align-self: flex-start;
    font-family: var(--font-family-gpt);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
    word-spacing: 0.2px;
    text-align: justify;
}

.source-container::-webkit-scrollbar {
    width: 12px;
}

/* 轨道 */
.source-container::-webkit-scrollbar-track {
    background: var(--color-gray-100);
    border-radius: 5px;
}

/* 滑块 */
.source-container::-webkit-scrollbar-thumb {
    background: var(--color-gray-200);
    border-radius: 5px;
}

/* 悬停 */
.source-container::-webkit-scrollbar-thumb:hover {
    background: var(--color-gray-300);
}

.source-container h3 {
    margin-bottom: 10px;
    font-family: var(--font-family-main);
}

.source-container ul {
    list-style-type: none;
    padding: 0;
}

.source-container li {
    margin-bottom: 10px;
}

.source-item {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: linear-gradient(145deg, var(--white-24), var(--white-36));
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 4px 12px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.source-item:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4), 0 8px 24px rgba(0, 0, 0, 0.7);
}

.source-item p {
    margin: 10px 0;
    padding: 5px 0;
    border-bottom: 1px solid rgba(12, 11, 11, 0.5);
}

.source-item p:last-child {
    border-bottom: none;
}

.source-item strong {
    color: #0050e3;
    font-weight: 600;
    padding: 2px 4px;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: row;
    gap: 10px;
    color: rgb(0, 95, 204);
    font-weight: bold;
    
}